<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Shopping Cart</display-name>
<servlet>
  <servlet-name>UserHomeServlet</servlet-name>
  <servlet-class>test.UserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 <servlet-name>UserHomeServlet</servlet-name>
 <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>test.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>LoginServlet</servlet-name>
   <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>GetProductsServlet</servlet-name>
  <servlet-class>test.GetProductsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>GetProductsServlet</servlet-name>
   <url-pattern>/getProducts</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>AddProductServlet</servlet-name>
  <servlet-class>test.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>AddProductServlet</servlet-name>
   <url-pattern>/addProducts</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>test.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>LogoutServlet</servlet-name>
   <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>GetCartDetailServlet</servlet-name>
  <servlet-class>test.GetCartDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>GetCartDetailServlet</servlet-name>
   <url-pattern>/get Cart</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>